.footnote {
  position: absolute;
  bottom: 60px;
  padding-right: 4em;
  font-size: 0.7em;
  color: var(--nord3);
}


.smallbreak {
  line-height: 1px;
}


/* table =================*/
.data-table {
  margin: auto;
  border: none;
  border-top: none;
  border-bottom: none;
  border-collapse: collapse;
  border-spacing: 0px;
}

.data-table td {
    text-align: center;
}

.data-table th, td {
  padding: 5px;
}

.rownr {
    color: gray;
    padding-right: 10px;
    font-size: 0.8em;
}



/* boxes =================*/
.container .box {
    margin:auto;
    display:table;
}
.container .box .box-row {
    display:table-row;
}
.container .box .box-cell {
    display:table-cell;
    vertical-align: middle;
    padding:20px;
    text-align:center;
    margin: 50px;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--nordbg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-button {
  background-color: var(--nord0);
  border: solid 1px var(--nord10);
  color: var(--nord6);
  width: 280px;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0px 20px;
  cursor: pointer;
}


.the-end .remark-slide-number {
  display: none;
}

.remark-notes-area {
  font-size: 0.7rem;
}



.scroll450 {
    max-height: 450px;
    overflow-y: auto;
}

.scroll450 .remark-code {
  font-size: 0.8rem;
}


::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 6px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: var(--nord0);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-corner {
  background: inherit;
}
